<div class="container mt-4">
    {{#if posts}}
    <div class="row">
      {{#each posts}}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.content}}</p>
            <p class="card-text">{{this.createdAt}}</p>
            <a href="/post/{{this.id}}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{else}}
    <p>No posts yet.</p>
    {{/if}}
  </div>